
/*Profile pic with proper dimensions and placing*/
.profile {
    max-width: 200px;
    max-height: 200px;
    float: left;
    padding-right: 1rem;
}
/* Bootsrap solution to placing text over image https://gist.github.com/petehouston/85dd33210c0764eeae55 
UPDATE: It did not work, but will leave link here as a refernce*/


/* extra to make the code work in assignment format */
.portfolio {
    max-height: 200px;
    max-width: 200px;
    border: 5px solid #8c8c8c;
}

#brand-logo {
    margin: 20px 20px 20px 20px;
}


/*necessary for the header to fit properly in the header. Strcitly using "nav-brand" didn't work*/
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 70px;
    padding: 10px 10px 0px 10px;
    margin-left: 150px;
    text-align: center;
    float: left;    
    color: white;
    background-color: #4aaaa5;
}

h2 {
    font-family: 'Alata', sans-serif;
    color: #8c8c8c;
}

/* Needed, otherwise nav will display below header and extend it */
.navbar-brand .page-header{
    display: inline;   
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.container {
    /* margin: 20px 50px 50px 50px;
    background:#ffffff; */

}

 p, a, form, .nav-link  {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
}

#hello {
    font-size: 200px;
    font-style: oblique;
}
/* Two different ways I waa trying to achieve the right effect, neither working */
.caption {  
    color: white;
    background-color: #4aaaa5;
    width: 200px;
    height: 10%;
    text-align: center;   
    position: center relative inline;  /*this is keeping the text within the frame of the images*/
}

.carousel-caption {
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color:#4aaaa5;
    position: absolute;
}



.row {
    padding: 20px 0px 20px 0px;
}


.no-padding {
    padding: 0;
    
}

.container .footer {
    margin-top: 20px;
    

}
#spacer {
    margin-bottom: 100px;
}
/*position and bottom fix to keep footer fixed at the bottom.*/
.page-footer {
    margin-top: 50rem;
    position: fixed;
    bottom: 0px;
    width:100%;
    color: #ffffff;
    background-color: #666666;
    border-top: 5px solid#4aaaa5;
}



.col-md-8 {
    padding: 20px 5px 5px 5px;
    margin: 0;
}

.btn {
    background-color:#4aaaa5;
    border: 0;
}