
/*Profile pic with proper dimensions and placing*/
.profile {
    max-width: 200px;
    max-height: 200px;
    float: left;
    padding-right: 1rem;
}
/* Bootsrap solution to placing text over image https://gist.github.com/petehouston/85dd33210c0764eeae55 
UPDATE: It did not work, but will leave link here as a refernce*/


/* extra to make the code work in assignment format */
.portfolio {
    max-height: 200px;
    max-width: 200px;
    border: 5px solid #8c8c8c;
}

.my-work {
    margin-bottom: 1rem;
}



/*necessary for the header to fit properly in the header. Strcitly using "nav-brand" didn't work*/
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 70px;
    padding: 10px 10px 0px 10px;
    margin-left: 150px;
    text-align: center;
    float: left;    
    color: white;
    background-color: #4aaaa5;
}

h2 {
    font-family: 'Alata', sans-serif;
    color: #8c8c8c;
}
h3 {
    font-family: 'Alata', sans-serif;
    color: #00388c;
}

/* Needed, otherwise nav will display below header and extend it */
.navbar-brand .page-header{
    /* position: fixed; */
    display: inline;   
}

 p, a, form, #nav-link  {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
}

#hello {
    margin-top: 15rem;
    margin-bottom: 25rem;
    font-size: 200px;
    font-style: oblique;
}

.row {
    padding: 20px 0px 20px 0px;
}


.no-padding {
    padding: 0;   
}

.container .footer {
    margin-top: 20px;
}



#brand-logo {

    margin: 5px 20px 20px 20px;
}

.resume {
    size: 20px;
    color: #00388c;
}

#nav-link {
    margin-right: 20px;
    margin-top: 20px;
}

li {
    list-style-type: none;
}

i {
    color: #8c8c8c;
}

.reach-out {
    font-size: 100px;
    font-style: bold;
}

#spacer {
    margin-bottom: 10px;
}
/*position and bottom fix to keep footer fixed at the bottom.*/
.page-footer {
    margin-top: 10rem;
    /* position: fixed; */
    bottom: 0px;
    height: 10rem;
    width:100%;
    color: #ffffff;
    background-color: #666666;
    /* border-top: 5px solid#4aaaa5; */
}

.col-md-8 {
    padding: 20px 5px 5px 5px;
    margin: 0;
}

.btn {
    width: 10rem;
    margin: 0.5rem;
    font-size: 60%;
    color: #ffffff;
    background-color:#00388c;
    border: 0;
}